body {
    font-family: Arial, Helvetica, sans-serif;
}
.app-color{
    color:royalblue;
}
.app-color-as-bg{
    background-color:royalblue;
}
.app-color2{
    color:lightblue;
}
.app-color2-as-bg{
    background-color:lightblue;
}
.app-bg-color{
    background-color:white;
}
.app-bg-color-as-font{
    color:white;
}
.app-bg-color2{
    background-color:whitesmoke;
}
.app-bg-color2-as-font{
    color:whitesmoke;
}

.logoclass{
    max-width: 20px;
    max-height: 20px;
}

.loginclass{
    text-decoration: none;
    cursor: pointer;
    color: #545150;
}

.fieldsetclass{
    width: 95%;
    margin-left: 2.5%;
}

.fieldsetinputclass{
    padding: 7px;
}

.tokinp{
    width: 60px;
    height: 80px;
    text-align: center;
    color: royalblue;
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: royalblue;
    font-size: 16px;
}
        .top-li-first{
            width:100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 5px;
        }
        .top-li-first tr{
            width:100%;
        }
        .top-li-first .td1{
            padding:5px;
            width:5%;
        }
        .top-li-first .td2{
            padding:5px;
            width:40%;
        }
        .icon-size{
            font-size:22px;
        }
        .balance{
            width:98%;
            height:80px;
            margin-left:0.2%;
            background-color:royalblue;
            border-radius:10px;
        }
        .balancenone{
            width:98%;
            height:60px;
            margin-left:0.2%;
            background-color:royalblue;
            border-radius:10px;
        }
        .bottom-spacer{
            margin-top:200px;
            margin-bottom:200px;
        }
        .table-recent-activity{
            width:100%;
        }
        .table-recent-activity tr{
            width:100%;
            height:50px;
        }
        .table-recent-activity .trtd1{
            width:2%;
        }
        .table-recent-activity .trtd2{
            width:78%;
            text-align:left;
            line-height:0.9;
        }
        .table-recent-activity .trtd3{
            width:20%;
            text-align:right;
            padding-right:20px;
            line-height:0.9;
        }
        .table-top-action{
            width:100%;
        }
        .table-top-action tr{
            width:100%;
        }
        .table-top-action .trta1{
            width:33%;
            text-align:center;
            font-size:14px;
        }
        .table-top-action .trta2{
            width:33%;
            text-align:center;
            font-size:14px;
        }
        .table-top-action .trta3{
            width:33%;
            text-align:center;
            font-size:14px;
        }
        .icon-size-bold{
            font-size:22px;
            font-weight:bolder;
            color:royalblue;
        }
        .icon-cover{
            width:30px;
            height:30px;
            padding:7px;
            color:royalblue;
            background-color:lightblue;
            border-radius:10px;
        }
        .actity-top-left{
            font-size:14px;
        }
        .actity-down-left{
            font-size:12px;
        }
        .actity-top-right{
            font-size:14px;
            color:royalblue;
            font-weight:bold;
        }
        .actity-down-right{
            font-size:12px;
            color:royalblue;
            font-weight:bold;
        }
        .div-spacer{
            margin-top:10px; padding-top:10px;  padding-bottom:10px;
        }
        .notification-header{
            font-size:12px;
            font-weight:bold;
        }
        .notification-content{
            font-size:14px;
        }
        
        .table-down-action{
            width:100%;
        }
        .table-down-action tr{
            width:100%;
        }
        .table-down-action .trtad{
            width:25%;
            text-align:center;
            font-size:14px;
        }
        
        .icon-style-bottom{
            font-size:22px;
            color:#545150;
        }
        
        .balance-table{
            width:100%;
        }
        .balance-table tr{
            width:100%;
        }
        .balance-table .tdb1{
            width:60%;
            font-size:14px;
            text-align:left;
            margin-left:5px;
            color:white;
        }
        
        .balance-table .tdb2{
            width:40%;
            font-size:14px;
            color:white;
        }
        
        .balance-table .tdb3{
            width:60%;
            font-size:18px;
            font-weight:bold;
            text-align:left;
            margin-left:5px;
            color:white;
        }
        
        .balance-table .tdb4{
            width:40%;
            font-size:14px;
            text-align:left;
        }
        
        .balance-table .tdb4 button{
            width:90%;
            font-size:14px;
            border-radius:15px;
            background-color:white;
            color:royalblue;
            border:none;
            height:30px;
            text-align:center;
        }
        
        #openBal{
            display:none;
        }
        #avalibaloclose{
            display:none;
        }
        
        /*FOR SCROLLING AND LOAD MORE CONTENT*/
        #items-container {
            max-width: 100%;
            margin: 0 auto;
        }
        .item {
            padding: 10px;
            margin: 5px 0;
        }
        
        label{
            font-size:14px; font-weight:bold; color:royalblue;
        }
        
        
        
/*STYLE FOR MODAL*/
    .modal{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        overflow:auto;
        z-index:2;
        background-color:white;
        display:none;
    }
    .modalcloser{
        width:100%;
    }
    .closerbtn{
        margin-left:94%;
        max-width:70px;
        max-height:70px;
        background-color:red;
        color:white;
        cursor:pointer;
        border:none;
        border-radius:50%;
    }
    .modalinner{
        width:96%;
        margin-left:1%;
        padding:5px;
        background-color:white;
        color:#545150;
        /*box-shadow:2px 3px 6px 4px rgba(0,0,0,0.2);*/
        border-radius:10px;
    }



/*FOR mORE DETAILS TABLE*/
.historydetailstd{
    border-bottom-style:solid; border-bottom-width:thin;
}